##########################################################################
#    yaala 0.7.2                                              2003-12-07 #
#---=============--------------------------------------------------------#
# Configuration for the webserver parsing modules. Used by the following #
# modules:								 #
# - Common								 #
# - Ncsa								 #
# - Wnserver								 #
##########################################################################

# Sets the domain names the webserver is known as. This is used to exclude
# in-page references from the statistics and may be used to detect
# drop-in and drop-out pages later.
#localhost: example.com, example.org, another-example.net;

# Sets wether refering URLs matching one of the localhosts should be
# included in the statistic or not. Default is to ignore them (= false).
referer_include_localhost: false;

# Sets how refering URLs should be formated. Possible options are:
# - 'full': Everything
# - 'url':  Parameters get cut off
# - 'host': Only the hostname remains (default)
url_format: host;
